<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди:</title>
</head>
<body>

<!--здесь мы должны пройтись по списку из людей и вывести каждого человека
в thymeleaf есть подобие цикла:-->
<div th:each="person : ${people}"> <!--person это временная переменная которая будет указывать на каждый элемент коллекции (${person}), которую мы положили в модель в методе контроллера-->
    <a th:href="@{/people/{id}(id=${person.getId()})}"  th:text="${person.getName()}">user</a>
   <!-- Делаем ссылку чтобы на каждого person можно было по его имени нажать чтобы перейти на его страницу по его id
    с помощью th:text вставляем вместо user имя пользователя
    теперь делвем так чтобы по нажатии на каждое из имен мы переходили на страницу этого человека ("show")
    для этого есть аргумент th:href в котором указываем ссылку куда будет осуществляться переход при нажатии на имя
    помещаем адрес в фигурных скобках:  @{/people/{id}(id=${person.getId()})} определяем временную переменную id и она будет использована в @{/people/{id}-->
</div>


</body>
</html>