<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<!--все адреса в атрибуте th:action тэга form на которые URL форма будет передавать свои данные в Thymeleaf пишутся в синтаксисе @{/xxx }
и в атрибуте th:object передаем на вход тот самый объект класса Person под ключем "person" который мы положили в model, к этому объекту мы обращаемся и для этого объекта будет создаваться форма-->
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Enter name:</label>
<!--    //в *{ } мы указываем название поля которое есть у объекта класса Person и которому мы назначаем значение в поле HTML-формы (у самого объекта "person" поле называется name)-->
    <input  type="text" th:field="*{name}" id="name"/> <!--id требуется чтобы сделать label для этого input'a-->
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div> <!--здесь используем тэг div можно использовать и другие тэги которые показывают текст, здесь у нас будет какой то текст(Name error) который мы никогда не увидим потому что он будет либо скрыт либо заменен текстом для какой либо ошибки c помощью th:errors="*{name}" -->
    <!--с помощью #fields получаем доступ ко всем полям внедренного объекта person вызываем hasErrors() и указываем поле name и если ошибки для поля name(выше id name) есть то тэг div будет показываться и в этот тэг div будет вставляться ошибка с помощью таймлифа - для этого используем атрибут th:errors="*{name}" именно для поля name объекта person текст ошибки (из аннотации)  будет отображаться-->
    <br/><!--Тег <br> устанавливает перевод строки в том месте, где этот тег находится. В отличие от тега абзаца <p> , использование тега <br> не добавляет пустой отступ перед строкой-->
    <label for="age">Enter age:</label>
    <input  type="text" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <!--добавим такой html код который будет показывать ошибки валидации в том случае если они есть т.е.мы с контроллер с помощью @ModelAttribute в модель помещаем этот объект Person и если в нем есть ошибки которые мы получили с помощью @Valid мы должны рядом с каждым полем показать ошибку валидации (если она есть или ничего не показывать)
    для этого используем инструмент который есть в thymeleaf который мы можем использовать для любого тэга атот атрибут называется th:if и он показывает тэг в том случае если какое то условие true( тогда будет показываться ошибка для какого то поля) или не показывать если else, такое динамическое отображение HTML элементов возможно с помощью thymeleaf и оно поможет нам показывать ошибки если они есть в этом объекте Person
    именно по этому мы наши формы так тесно связываем с объектом person, который внедряется в модель-->
    <label for="email">Enter email:</label>
    <input  type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>