<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
Hello!
<!--в тэг добавляем аргумент href в этом аргументе указываем тот адрес куда мы хотим переходить при нажатии на эту ссылку Say Hello -->
<a href="/first/goodbye"> Say Goodbye</a> or <a href="/exit">Exit</a>

<!--как параметры в GET-запросе передаются при нажатии на ссылку, ghb yf;при нажатии на ссылку совершается GET-запрос по указанному адресу и в этом URL мы тоже можем указать параметры запроса -->
or <a href="/first/hello?name=Tom&surname=Smith">request with parameters</a>
</body>
</html>